footer {
  display: flex;
  font-weight: 700;
  font-size: 1rem;
  height: 100%;
  color: #14b5bf;
  background-color: #bdf1f4;
  text-align: center;
  align-items: center;
  justify-content: center;
}
